/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

.top-title {
  margin-top: 1em;
  /* margin-bottom: 1em; */
  color: #333;
  /* color: #ffffff; */
  text-shadow: none;
  font-family: "Gowun Batang", serif;
  /* font-size: 1.7rem; */
  font-size: 17px !important;
  font-weight: 600;
}

.top-title-sub {
  margin-top: 1em;
  color: #333;
  text-shadow: none;
  font-family: "Gowun Batang", serif;
  font-size: 1.2rem;
}

/*
   * Base structure
   */

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 430px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 11px;
  }
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.cover-container {
  max-width: 42em;
}

.cover-container-2 {
  max-width: 42em;
  color: black;
}

/*
   * Header
   */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.cover-heading {
  margin-top: 7.5rem;
  color: #fefefe;
  font-family: "Gowun Batang", serif;
}

.top-div {
  width: 100%;
}

header {
  background-image: url("./img/header_new.jpg");
  background-size: cover;
  background-position: center;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
   * section
   */
.section1-title {
  margin-top: 1em;
  color: #333;
  text-shadow: none;
  font-size: 1rem;
}

.section1-main {
  background-color: #fefefe;
  font-family: "Gowun Dodum", sans-serif;
  line-height: 2em;
  font-size: 1.2rem;
}

.section1-sub {
  font-family: yeon sung, cursive;
  /* font-family: "yeon sung, cursive"; */
  line-height: 2.1em;
  /* font-size: 1.35rem; */
  font-size: 17px;
  font-weight: 400;
}

.section1-sub2 {
  font-family: "Gowun Batang", serif;
  line-height: 2.1em;
  font-size: 1.35rem;
}

.section1-sub2 .small {
  font-size: 1.2rem;
}

.section2-title {
  margin-top: 1em;
  color: #9d7e5f;
  font-weight: bold;
  text-shadow: none;
}

.section2-main {
  font-family: "Gowun Batang", serif;
  line-height: 1.5em;
  font-size: 1.35rem;
  position: relative;
}

.section2-main::after {
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("../img/section2.jpg");
  background-size: cover;
  background-position: right;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.section2-sub {
  font-family: "Gowun Batang", serif;
  line-height: 2em;
  font-size: 1.2rem;
}

.section3 {
  background-color: #f9f9f9;
}

.section3-title {
  margin-top: 1em;
  color: #333;
  text-shadow: none;
}

.section3-main {
  font-family: "Dancing Script", cursive;
  line-height: 1.5em;
  font-size: 2rem;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.section3-image {
  box-shadow: 2px 2px 5px #999;
}

.section4-title {
  margin-top: 1em;
  color: #333;
  text-shadow: none;
}

.section4-sec1-2 {
  padding-top: 0.1rem;
}

.section4-sec1 {
  font-family: "Gowun Dodum", sans-serif;
  line-height: 1.5em;
  font-size: 1rem;
}

.section4-sec2 {
  font-family: "Gowun Batang", serif;
  line-height: 1.5em;
  font-size: 1.2rem;
}

.section4-sec3 {
  font-family: "Gowun Batang", serif;
  line-height: 1.5em;
  font-size: 1rem;
  background: none;
  border: none;
  color: #55cccc;
}

.section4-sec3-g {
  font-family: "Gowun Batang", serif;
  line-height: 1.5em;
  font-size: 1.35rem;
  background: none;
  border: none;
  color: #ff99cc;
}

.section5 {
  background-color: #f9f9f9;
}

.section5-title {
  margin-top: 1em;
  color: #333;
  text-shadow: none;
}

.section5-main {
  font-family: "Dancing Script", cursive;
  line-height: 1.5em;
  font-size: 2rem;
}

.section5-sub {
  font-family: "Gowun Dodum", sans-serif;
  line-height: 1.5em;
  font-size: 1.3rem;
}

.section5-table {
  font-family: "Gowun Dodum", sans-serif;
  line-height: 1.5em;
  font-size: 1.3rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.section5-table tr td {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.section5-table tr .sun {
  color: red;
}

.section5-table tr .check {
  color: white;
  border-radius: 50%;
}

.section5-table tr:first-child td {
  padding-top: 2em;
}

.section5-table tr:last-child td {
  padding-bottom: 2em;
}

.section6-title {
  margin-top: 1.5em;
  color: #333;
  text-shadow: none;
}

.section6-location {
  color: #333;
  text-shadow: none;
}

.section6-main {
  font-family: "Dancing Script", cursive;
  line-height: 1.5em;
  font-size: 2rem;
}

.section6-location-main {
  font-family: NanumMyeongjo-e;
  line-height: 1.5em;
  font-size: 1rem;
}
.section6-location-main-fontcolor {
  color: #9d7e5f;
  font-size: 1.3rem !important;
  font-weight: bold;
}

.section6-sub {
  font-family: "Gowun Dodum", sans-serif;
  line-height: 1.5em;
  font-size: 1.3rem;
}

.section6-location-sub {
  font-family: "Gowun Dodum", sans-serif;
  line-height: 1.5em;
  font-size: 1.1rem;
  text-align: left;
}

.section7 {
  background-color: #ffffff;
}

.section7-title {
  margin-top: 1em;
  color: #333;
  text-shadow: none;
}

.section7-modal {
  color: #333;
}

.section7-modal-title {
  font-size: 1.4rem;
}

.section7-modal-content {
  font-size: 1.2rem;
}

.section7-main {
  font-family: "Gowun Batang", serif;
  line-height: 1.4em;
  font-size: 1.4rem;
}

.section7-button {
  font-family: "Gowun Batang", serif;
  font-size: 1.2rem;
  background-color: #cc9999;
  color: #fff;
  border: 0;
  border-radius: 50px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.7em;
}

.section7-button:hover {
  background-color: #cc9999;
  color: #fff;
  border: 0;
}

.section7-button:active {
  background-color: #996666;
  color: #fff;
  border: 0;
}

.section7-button:valid {
  background-color: #cc9999;
  color: #fff;
  border: 0;
}

.section8 {
  background-color: #f9f9f9;
}

tbody > tr > td {
  text-align: center;
}
.check {
  background-color: #cb8c8c !important;
}

/*
   * Cover
   */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

/*
   * Footer
   */
.mastfoot {
  color: rgba(255, 255, 255, 0.5);
}
.slide > img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  display: inline-block;
  height: auto;
}
.Slide-Conatainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  margin: 0;
  opacity: 1;
  visibility: visible;
}
.List-slide {
  height: 100vh;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-slide {
  justify-content: center;
  height: auto;
  min-height: 90%;
  text-align: center;
}
.slide {
  position: relative;
  height: 100vh;
  height: calc(var(8.5px, 1vh) * 100);
  line-height: calc(var(8.5px, 1vh) * 100);
}

.slick-prev {
  left: 20px;

  background-size: 40px auto;
  position: fixed;
  top: 30%;
  margin-top: -20px;
  z-index: 10;
  width: 40px;
  height: 40px;
  border: none;
  text-indent: -999em;
  outline: none;
  cursor: pointer;
}
.slick-next {
  right: 20px;

  background-size: 40px auto;
  position: fixed;
  top: 30%;
  margin-top: -20px;
  z-index: 10;
  width: 40px;
  height: 40px;
  border: none;
  text-indent: -999em;
  outline: none;
  cursor: pointer;
}
.closeSlide {
  border-radius: 50%;
  position: absolute;
  color: #fff;
  top: 1rem !important;
  right: 1rem !important;
  background-color: black;
  width: 1rem;
  height: 1rem;
}
.header-container {
  position: relative;
  z-index: 10;
  padding-top: 3.2rem;
  text-align: center;
}
.header-text > span,
em > span {
  font-size: 25px;
  line-height: 23px;
  color: #9d7e5f;
  letter-spacing: -1px;
  margin-bottom: 15px;
  font-weight: bold;
}
.header-img > img {
  width: 240px;
}
.gallery-more-button {
  display: inline-block;
  margin: 20px auto 0;
  height: 1.5rem;

  text-align: center;
  font-size: 0.85rem;
  cursor: pointer;
  color: #978686;
  border: 1px solid #d1c8c8;
  padding: 4px 26px;
  border-radius: 32px;
}
.slick-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  min-height: 100%;
  text-align: center;
}

.galList-modal {
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  background: rgba(0, 0, 0, 0.9);
}
.modal-wrapper {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 420px;
}
.galList-container {
  transition: all 3s ease;
}
.carousel-wrap {
  margin: 0;
  position: relative;
}

.carousel-card {
  width: 100%;
}
.carousel-card > div {
  height: 100%;
  display: flex;
  align-items: center;
}
.carousel-card > div > img {
  width: 100%;
  pointer-events: none;
}
.modal-btn-simple {
  padding: 1rem 0;
  bottom: 0;
  width: 100%;
  max-width: 420px;
  text-align: end;
  z-index: 999;
}
.modal-btn-simple > span {
  display: inline-block;
  line-height: 0;
  padding: 16px;
  background: #000;
  border-radius: 64px;
  cursor: pointer;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}

.modal-btn-simple svg {
  position: relative;
  margin: 0 auto;
  width: 12px;
  height: 12px;
  fill: hsla(0, 0%, 100%, 0.9);
  z-index: 102;
}
.kakao-pay-button {
  background-color: #fae100;
  border-radius: 4px 4px 4px 4px;
  /* padding-bottom: 2px; */
  /* padding-top: 2px; */
}
.kakao-pay-button > img {
  padding-top: 1rem !important;
  max-width: 100%;
  height: 24px;
}
.toss-pay-button {
  background-color: #ffffff;
  border-radius: 4px 4px 4px 4px;
  /* padding-bottom: 2px;
  padding-top: 2px; */
}
.toss-pay-button > img {
  padding-top: 1rem !important;
  max-width: 100%;
  height: 24px;
}
.card-header {
  padding: 0rem 0rem !important;
}
.btn-copy {
  position: absolute;
  top: calc(0.75rem rem - 1px);
  right: 0.75rem;
  width: 54px;
  cursor: pointer;
  padding: 0 4px;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid #e1e1e1;
  color: #333;
  letter-spacing: 0.5px;
  text-align: center;
  line-height: 24px;
}
.money {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 1rem;
}
